

.mainFxmlClass {

    .text-field {
        -fx-background-radius: 0 ;
    }

    .text-field-table-cell .text-field {
        -fx-border-color: -fx-background;
        -fx-background-radius: 0 ;
    }
    .text-field:focused {
    }


    .button {
        -fx-background-color: transparent;
        -fx-padding: 10 0 0 10;
        -fx-pref-width: 60;
    }
    
    .tab-label {
        -fx-content-display: top;
    }
    
    .tab-pane {
        -fx-tab-min-height: 100;
        -fx-tab-max-height: 100;
        -fx-tab-min-width: 100;
        -fx-tab-max-width: 100;
        
    }


    .tab  {
        -fx-background-color: #2d3a71;
    }
    
    .tab-pane {
        
    }


    .tab-header-area {
        -fx-background-color: #2d3a71;
        /* -fx-opacity: 0;*/
    }

    .tab-header-background {
           -fx-background-color: #2d3a71;
    }

    .homeTabLabel:hover {
        /*
        DOESN"T DO ANYTHING:
        -fx-background-image: url("/JavaFX_1/HomeButtonLightBlue.png");
        -fx-background-width: 40;
        
        WORKS BUT SCALES DEPENDING ON IMAGE SIZE
        -fx-graphic: url("/JavaFX_1/HomeButtonLightBlue.png");
        -fx-scale-y: 0.5;
        -fx-scale-x: 0.5;*/
    }


}
